language: csharp
solution: TensorFlowSharp.sln
script:
  - wget "http://ci.tensorflow.org/view/Nightly/job/nightly-libtensorflow/TYPE=mac-slave/82/artifact/lib_package/libtensorflow-cpu-darwin-x86_64.tar.gz"
  - tar xzvf libtensorflow-cpu-darwin-x86_64.tar.gz lib/libtensorflow.so
  - mkdir -p native
  - cp lib/libtensorflow.so native/libtensorflow.dylib
  - cp lib/libtensorflow.so native/
  - msbuild /t:Restore $TRAVIS_BUILD_DIR/TensorFlowSharp.sln
  - cd $TRAVIS_BUILD_DIR/
  - msbuild /p:Configuration=Release TensorFlowSharp.sln
  - cp -R $TRAVIS_BUILD_DIR/native/libtensorflow.dylib $TRAVIS_BUILD_DIR/tests/TensorFlowSharp.Tests/bin/Release/libtensorflow.dylib
  - sh $TRAVIS_BUILD_DIR/build.sh
mono: "5.0.0"
os: "osx"
