<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.500-preview2-1-003177" targetFramework="net471" />
  <package id="Microsoft.TestPlatform.TestHost" version="15.3.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net471" />
  <package id="xunit" version="2.2.0" targetFramework="net471" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net471" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net471" />
  <package id="xunit.core" version="2.2.0" targetFramework="net471" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net471" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net471" />
  <package id="xunit.runner.console" version="2.2.0" targetFramework="net471" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.3.0-beta3-build3705" targetFramework="net471" developmentDependency="true" />
</packages>