<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="2.0.0-preview1-25305-02" targetFramework="net461" />
  <package id="Microsoft.Packaging.Tools" version="1.0.0-preview1-25301-01" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.0-preview1-25301-01" targetFramework="net461" />
  <package id="NETStandard.Library.NETFramework" version="2.0.0-preview1-25305-02" targetFramework="net461" />
  <package id="xunit" version="2.2.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net461" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net461" />
  <package id="xunit.core" version="2.2.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net461" />
  <package id="xunit.runner.console" version="2.2.0" targetFramework="net461" developmentDependency="true" />
</packages>